/*
 * Responsive Design CSS
 */
 
 
 /*
 * 0-659px (includes 300px)
 */
@media screen{
html{
	 margin: 0px;
	}
	
body {
	  background-color: white;
	  margin: 0px;
	  font-size: medium;
	  text-align: justify;
	 }

	header {
			background-color: #3D9AD1;
			margin: 0px;
			text-align: center;
	       }
		
	Header h1 {
				margin: 0px; 
			  }

	nav {
		  background-color: #64A8D1;
		  padding-top: 5px;
		  padding-bottom:5px;
		  text-align:center;
		  font-size: 14pt;
		}
			nav ul {
					list-style:none;
					padding-left: 0;
					}
					
			nav li  {
					  display:inline;
					  padding: 10px;
					}
	a:link {color: #A65B00}
	a:visited {color: #CC3500}
	
	
	div#content{
				 margin: 20px;
			   }
	 img {
	 	  max-width: 100%;
	 	 }
	 	 
	div#image{
			  margin: 0.5em;
			  background-color: #3D9AD1;
			  border: 5px solid #3D9AD1;
			  max-width: 90%;
			  }
	
	div#caption{
				 text-align: left;
				 font-style: italic;
				 font-size: small;
			   }
	
	h2 {
		 text-align: left;
		 color: #3D9AD1;
	   }
	
	h3 {
		 text-align: left;
		 color: #3D9AD1;
	   }
	   
	blockquote {
				font-style: italic;
				margin: 30px;
				text-align: left;
				font-family: times new roman, serif;
			   }
			   
	div#list{
			  text-align: left;
			}
	
footer {
		 background-color: #3D9AD1;
		 padding: 10px;
		 text-align: center;
		 float: none;
		 width: auto
	   }
}




/*
 * 660px and wider
 */
@media screen and (min-width: 600px) {
header {
		 padding: 10px;
	   }

nav{
	float:left;
	width: 30%;
	}
	
nav a{
	   display: block;
	   padding: 10px;
	 }

div#lefttext{
			 float: right;
			 width: 60%;
			 font-size: 14pt;
			}

div#caption{
			 font-size: medium;
			}
		
div#centertext{
				clear: both;
				width: 100%;
				font-size: 12pt;
			  }

footer{
	   clear: both;
	  }

}







/*
 * 768px and wider
 */
@media screen and (min-width: 768px) {
header {
		background-color: Green;
	   }
	   
blockquote {
				line-height: 1.5;
				text-align: center;
				font-style: italic;
			   }
}









/*
 * 960px and wider
 */
 @media screen and (min-width: 960px) {
header {
		background-color: Purple;
	    }
	    
}

