/*
 * Responsive Design Webpage
 */
 
 
 /*
 * 0-600px (includes 300px)
 */
@media screen {
html{
	 margin: 0px;
	}
	
body {
	  background-color: white;
	  margin: 0px;
	 }

	header {
			background-color: #3d9ad1;
			margin: 0px;
			padding: 5px;
			text-align: center;
	       }
		
	Header h1 {
				margin: 0px;
			   }
	
	nav {
		  background-color: #64A8D1;
		  padding-top: 5px;
		  padding-bottom:5px;
		  text-align:center;
		}
			nav ul {
					list-style:none;
					padding-left: 0;
					}
					
			nav li  {
					  display:inline;
					  padding: 10px;
					}
	a:visited {color: #A65B00}
	
	div#content{
				 margin: 10px;
				 
	
			   }
	
	image#image{
				 
	
			   }
	
footer {
		 background-color: #3d9ad1;
		 padding: 10px;
	   }
}




/*
 * 660px and wider
 */
@media screen and (min-width: 600px) {
header {
		 background-color: orange;
		 padding: 10px;
	   }

nav{
	float:left;
	width: 30%;
	}
	
nav a{
	   display:block;
	   padding: 10px;
	 }

#content{
		float: right;
		width: 60%;
		}

footer{
	   clear:both;
	  }

}







/*
 * 768px and wider
 */
@media screen and (min-width: 768px) {
header {
		background-color: Green;
	   }

}









/*
 * 960px and wider
 */
 @media screen and (min-width: 960px) {
header {
		background-color: Purple;
	    }
	    
}

