html {
	background-color: #004600;
	background-attachment: fixed;
	background-repeat: no repeat;
	background-size: cover; 
}
		 
	body { 
			font-family: Helvetica, Arial, sans-serif;
		    line-height: 14pt;
		    padding-top: 5pt;
		    width: 85%;
		    margin:35px auto;
		    text-align: justify;
		    background-color: rgba(255, 255, 255, 1);
		    padding: 30px;
		}

	h1 {
			color: rgba(0, 0, 0, .9);
			font-weight: bold;
			text-align:center;
			font-size:30pt;
		}
	
	h2 {color:black;
	   }
	
	h3 {text-align:center;
	   }
	
	   /*
	 selector {
		        property: value;
		        property: value;
	          }
	*/